In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("DatosEmpleado.csv")

In [3]:
df.head(5)

,ID,FullName,JobTitle,Department,BusinessUnit,Gender,Ethnicity,Age,HireDate,AnnualSalary,Bonus,Country,City
0,1,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,4/8/2016,$141.604/,15%,United States,Seattle
1,2,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,11/29/1997,$99.975/,0%,China,Chongqing
2,3,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,10/26/2006,$163.099/,20%,United States,Chicago
3,4,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,9/27/2019,$84.913/,7%,United States,Chicago
4,5,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,11/20/1995,$95.409/,0%,United States,Phoenix

In [4]:
df = df[df['Country'] == 'United States']

In [5]:
df['Bonus'] = df['Bonus'].str.replace('%', '.')
df['Bonus'] = df['Bonus'].str.replace('.', '')

C:\Users\sisir\AppData\Local\Temp\ipykernel_23740\2885001675.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Bonus'] = df['Bonus'].str.replace('.', '')

In [6]:
df.rename(columns={'Bonus': 'Bonus(%)'}, inplace=True)

In [7]:
df[['HireMonth', 'HireDay', 'HireYear']] = df['HireDate'].str.split('/', expand=True)

In [8]:
df['AnnualSalary'] = df['AnnualSalary'].str.replace('$', '/')
df['AnnualSalary'] = df['AnnualSalary'].str.replace('.', '')
df['AnnualSalary'] = df['AnnualSalary'].str.replace('/', '')

C:\Users\sisir\AppData\Local\Temp\ipykernel_23740\176997128.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['AnnualSalary'] = df['AnnualSalary'].str.replace('$', '/')
C:\Users\sisir\AppData\Local\Temp\ipykernel_23740\176997128.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['AnnualSalary'] = df['AnnualSalary'].str.replace('.', '')

In [9]:
df.rename(columns={'AnnualSalary': 'AnnualSalary($)'}, inplace=True)

In [10]:
df['JobTitle'] = df['JobTitle'].str.replace('Sr. ', '')

C:\Users\sisir\AppData\Local\Temp\ipykernel_23740\777253437.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['JobTitle'] = df['JobTitle'].str.replace('Sr. ', '')

In [11]:
df = df.drop(['FullName'], axis=1)
df = df.drop(['Country'], axis=1)
df = df.drop(['HireMonth'], axis=1)
df = df.drop(['HireDay'], axis=1)
df = df.drop(['HireDate'], axis=1)
df = df.drop(['Ethnicity'], axis=1)

In [12]:
df.rename(columns={'City': 'City(USA)'}, inplace=True)

In [13]:
df.head(10)

,ID,JobTitle,Department,BusinessUnit,Gender,Age,AnnualSalary($),Bonus(%),City(USA),HireYear
0,1,Manger,IT,Research & Development,Female,55,141604,15,Seattle,2016
2,3,Director,Finance,Speciality Products,Female,50,163099,20,Chicago,2006
3,4,Computer Systems Manager,IT,Manufacturing,Female,26,84913,7,Chicago,2019
4,5,Analyst,Finance,Manufacturing,Male,55,95409,0,Phoenix,1995
6,7,Manager,IT,Corporate,Female,27,119746,10,Phoenix,2020
7,8,Analyst,Finance,Manufacturing,Male,25,41336,0,Miami,2020
8,9,Manager,Accounting,Manufacturing,Male,29,113527,6,Austin,2019
9,10,Analyst,Finance,Speciality Products,Female,34,77203,0,Chicago,2018
10,11,Manger,Human Resources,Manufacturing,Female,36,157333,15,Miami,2009
11,12,Controls Engineer,Engineering,Speciality Products,Female,27,109851,0,Seattle,2021

In [14]:
df.to_csv('DatosLimpios.csv', index=False)